*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.profile {
  width: 250px;
  text-align: center;
  margin: 0 auto;

  border: solid 1px #e4e0e0;
  box-shadow: 0px 2px 9px 6px rgb(218, 218, 218);
  border-radius: 6px;
}

.description {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 25px;
}

.avatar {
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
}

.name {
  font-size: 30px;
  font-weight: 700;
  color: #332d2d;
  margin-bottom: 10px;
}

.tag {
  font-size: 16px;
  color: #b8b3b5;
  text-align: center;
}

.location {
  font-size: 16px;
  color: #b8b3b5;
  line-height: 32px;
}

.stats {
  display: flex;
  justify-content: space-around;
  background-color: #f3f6f9;
  border-top: solid 1px #e4e0e0;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 22px;
}

.label {
  color: #97a2ae;
  font-size: 12px;
  display: flex;
  margin-bottom: 5px;
}

.quantity {
  line-height: 1.2;
  font-weight: bold;
  font-size: 14px;
  display: flex;
}
