.transaction {
  color: black;
  width: 500px;
  border-collapse: collapse;
  box-shadow: 0 0 3px rgba(8, 8, 10, 0.5);
  border: 1px solid grey;
  text-align: center;
  margin: auto auto;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

thead {
  background-color: rgb(4, 192, 199);
  color: aliceblue;
}

tr {
  font-size: 20px;
}

td {
  font-size: 20px;
  color: rgb(134, 134, 134);
  text-transform: capitalize;
}
